<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-4">
    <h3><b><b><%= list.title %></b></b></h3>
    <div class="card col-5 list-card">
        <img src="<%=list.image.url%>" class="card-img-top card-show" alt="listing_image">
        <div class="card-body">
          <p class="card-text"><i>Owned by <%= list.owner.username %></i></p>
          <p class="card-text"><%= list.description %></p>
          <p class="card-text">&#8377; <%= list.price.toLocaleString('en-IN') %>/night</p>
          <p class="card-text"><%= list.location %></p>
          <p class="card-text"><%= list.country %></p>
        </div>
      </div>
      <% if(currUser && list.owner._id.equals(currUser._id)){ %>
   <div class="row">
        <div class="mb-3 col-md-4">
        <a type="button" class="btn btn-primary mb-2" href="/listings/<%= list._id %>/edit">Edit this listing</a>
         </div>
         <div class="mb-3 col-md-8">
        <form method="POST" action="/listings/<%=list.id%>?_method=DELETE">
          <button type="submit" type="button" class="btn btn-danger mb-2">DELETE</button>
        </form>
    </div>
</div>
<% } %>
<div class="col-8">
  <hr>
  <% if(currUser) {%>
  <h4>Leave a review</h4>
  <form method="POST" action="/listings/<%= list._id %>/reviews" novalidate class="needs-validation">
    <label for="rating" class="form-label"><h4>Rating</h4></label>
    <fieldset class="starability-slot">
      <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
      <input type="radio" id="first-rate1" name="review[rating]" value="1" />
      <label for="first-rate1" title="Terrible">1 star</label>
      <input type="radio" id="first-rate2" name="review[rating]" value="2" />
      <label for="first-rate2" title="Not good">2 stars</label>
      <input type="radio" id="first-rate3" name="review[rating]" value="3" />
      <label for="first-rate3" title="Average">3 stars</label>
      <input type="radio" id="first-rate4" name="review[rating]" value="4" />
      <label for="first-rate4" title="Very good">4 stars</label>
      <input type="radio" id="first-rate5" name="review[rating]" value="5" />
      <label for="first-rate5" title="Amazing">5 stars</label>
    </fieldset>
  </div>
    <div class="mb-3">
      <label for="comment">Comments</label>
      <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
      <div class="invalid-feedback">
        Please add some comment on review!
      </div>
    </div>
    <button class="btn btn-outline-dark mt-2" type="submit">Submit</button>
  </form>
  <% } %>
  <% if(list.reviews.length>0){%>
  <hr/>
  <p><b>ALL REVIEWS</b></p>
  <div class="row">
  <% for(review of list.reviews){%>
    <div class="card col-6 mb-3">
      <div class="card-body">
        <h5 class="card-title">@<%= review.author.username %></h5>
        <p class="starability-result" data-rating="<%= review.rating %>"></p>
        <p class="card-text"><%=review.comment%></p>
        <form class="mb-2" method="POST" action="/listings/<%= list._id %>/reviews/<%= review._id %>?_method=DELETE">
          <button class="btn btn-sm btn-dark">DELETE</button>
        </form>
      </div>  
    </div>
<%}%>
</div>
<%}%>
</div>
</div>
</div>
</body>